{% extends 'base.html' %}

{% block title %}Cart{% endblock  %}

{% block content %}
 
<div id="msg"></div>

{% if cart.orderitems.exists %}

<div id ="body-cart"  class="container mx-auto mt-10">
     <div class="flex shadow-md my-10">
       <div class="w-3/4 bg-white px-10 py-10">
         <div class="flex justify-between border-b pb-8">
           <h1 class="font-semibold text-2xl">Shopping Cart</h1>
           <h2 class="font-semibold text-2xl">{{cart.orderitems.count}} Products</h2>
         </div>
         <div class="flex mt-10 mb-5">
           <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
           <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
           <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
           <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
         </div>
         
         {% include 'Store/includes/order_item_detail.html' %}

         <a href="{% url 'products-list' %}" class="w-48 flex font-semibold text-indigo-600 text-sm mt-20">
           <svg class="fill-current mr-2 text-600 w-6" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
           Continue Shopping
         </a>
       </div>
 
       <div id="summary" class="w-1/4 px-8 py-10">
         <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
         <div>
           <label class="mt-10 font-medium inline-block mb-3 text-sm uppercase">Shipping</label>
           <select class="block p-2 text-gray-600 w-full text-sm">
            {% for ville in villes%}
            <option>{{ville.name}} - {{ville.price_shipping}} DA</option>
            {%endfor%}
          </select>
         </div>
         <div class="py-10">
           <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
           <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full">
         </div>
          <button type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">APPLY</button>
         <div class="border-t mt-8">
           <div class="flex font-semibold justify-between py-6 text-sm uppercase">
             <span>Total cost</span>
             <span>{{cart.cart_total_price}} DA</span>
           </div>
           <a href="{% url 'checkout' %}" type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800 w-full">CHECKOUT</a>
         </div>
       </div>
 
     </div>
</div>

{%else%}
   <h1> Your cart is emplty</h1>
{%endif%}


{% endblock  %}